@model LogViewModel
@{
    ViewBag.Title = "Log for " + Model.FriendlyDate;
}
@Html.RouteLink("Back to all logs", "LogsHome")
<h2>Log for @Model.FriendlyDate</h2>
<p>All times are UTC.</p>
<div class="logLine">@foreach (string line in Model.LogLines){
         @Html.FormatLogLine(line)<br />
}</div>
