@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DIY Podcast RSS Feed</h1>
    <p class="lead">Make an RSS Feed From A Bunch Of Audio Files.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Get Started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            <ol>
                <li>Where Are Your Audio Files? Paste the location of your collection of files. This could be a public Dropbox folder, OneDrive folder, Google Driver folder, or any public, open, and readable directory on any web server on the internet.</li>
                <li>Click the Parse button. We'll go out to that location and find all the audio files there.</li>
                <li>We'll generate an RSS Feed there. The order will be <em>alphabetical</em>, so be sure they're numbered and named properly.</li>
                <li>You can then copy your unique RSS and paste into your podcast client.</li>
                <li>We save and host this feed here for you. You can take the RSS content and host it elsewhere if you like.</li>
                                <li>This is a one-time parse. If the directory contents change or become unavailable, then you must come back and recreate an RSS feed.</li>
            </ol>
        </p>
        <p><a class="btn btn-default" href="">Let's Do It &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>More Details</h2>
        <ul>
            <li>We don't save your audio files, but we do save the RSS feed that you generate.</li>
            <li>It's a one-time generate that's as good as the files at the other end. </li>
            <li>The RSS will specify to the client that it never changes and never needs refreshing</li>
        </ul>        
    </div>   
</div>