@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title DIY RSS</h2>

<p>
    This is a for-fun and small learning exercise. It's run on Microsoft Azure, and you can learn more about how the application was built at <a href="https://github.com/philoushka/diy-rss">https://github.com/philoushka/diy-rss</a>
</p>
