<h2>About DIY RSS</h2>

<p>
    We host RSS feeds that you create.
</p>
<p>
    Learn more about the application at its <a href="https://github.com/philoushka/diy-rss">GitHub repo</a>. <BR />Issues, questions, and contributions are welcome!
</p>
