@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
It's best to ask a concise question on <a href="https://twitter.com/diyrss">Twitter to @@diyrss</a>.

<h4>Frequently Asked Questions</h4>
<ul id="faqs">
    <li><strong>My files are inaccessible.</strong> We don't host your files. If they're inaccessible, then you need to solve that issue yourself. We only organize them together in an RSS feed.</li>
    <li><strong>Take my feed down!</strong> You can do that yourself from your broswer. Visit <a href="@Url.RouteUrl("MyFeeds", null, Request.Url.Scheme)">@Url.RouteUrl("MyFeeds", null, Request.Url.Scheme)</a> from the same browser that created the feed.</li>
</ul>
<address>
    <strong>Twitter:</strong>   <a href="https://twitter.com/diyrss">@@diyrss</a><br />
    <strong>Support:</strong>   <a href="mailto:support@diyrss.com">support@diyrss.com</a><br />
</address>