body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

button {
    margin-top:5px;
}
input,
select,textarea {
    width: 100%;
    
}

textarea {    
    height: 150px;
}
.feedRowImg {
    max-height:150px;
    max-width:150px;
}

.deletedShade {
    background-color:    rgba(255, 0, 0, 0.09);
}
.logLine {
    font-family:Consolas;
    font-size:smaller;
}
.logTimeStamp {
    font-weight:bold; background-color:yellow;
}