body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

button {
    margin-top:5px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    width: 400px;
    clear:both;

}

textarea {
    clear:both;
    width: 300px;
    height: 150px;
}
.feedRowImg {
    max-height:150px;
    max-width:150px;
}

.deletedShade {
    background-color:    rgba(255, 0, 0, 0.09);
}
